@model IEnumerable<CineChat.MyFilmsAPIModels.inTheater>


@{
    ViewBag.Title = "Search";
}

<h2>ComingSoon</h2>

@foreach (var item in Model)
{


    <div class="well">
        @foreach (var mov in item.movies)
        {
            <div class="panel panel-default ">
                <div class="panel-body ">
                    <div class="col-sm-4">
                        <img src="@Html.DisplayFor(modelItem => mov.urlPoster)" />
                    </div>
                    <div class="col-sm-8">
                        <table class=" ">
                            <tbody>
                               <!-- <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.openingThisWeek)
                                        @Html.DisplayFor(modelItem => item.openingThisWeek)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.inTheatersNow)
                                        @Html.DisplayFor(modelItem => item.inTheatersNow)
                                    </td>
                                </tr>-->
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.date)
                                        @Html.DisplayFor(modelItem => item.date)
                                    </td>
                                <tr>
                                    <td>
                                        @Html.DisplayName("Title ")
                                        @Html.DisplayFor(modelItem => mov.title)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayName("Original Title")
                                        @Html.DisplayFor(modelItem => mov.originalTitle)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayName("Year ")
                                        @Html.DisplayFor(modelItem => mov.year)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayName("Release Date: ")
                                        @Html.DisplayFor(modelItem => mov.releaseDate)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayName("Plot: ")
                                        @Html.DisplayFor(modelItem => mov.plot)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayName("simple Plot: ")
                                        @Html.DisplayFor(modelItem => mov.simplePlot)
                                    </td>
                                </tr>
                                <!--<tr>
                                    <td>
                                        @Html.DisplayName("idIMDB :")
                                        @Html.DisplayFor(modelItem => mov.idIMDB)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayName("urlIMDB: ")
                                        @Html.DisplayFor(modelItem => mov.urlIMDB)
                                    </td>
                                </tr>-->
                                <tr>
                                    <td>
                                        @Html.DisplayName("Rating ")
                                        @Html.DisplayFor(modelItem => mov.rating)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayName("Metascore: ")
                                        @Html.DisplayFor(modelItem => mov.metascore)
                                    </td>
                                </tr>
                                <!--<tr>
                                   <td>
                                        @Html.DisplayName("Rated: ")
                                        @Html.DisplayFor(modelItem => mov.rated)
                                    </td>
                                </tr>--> 
                                <tr>
                                    <td>
                                        @Html.DisplayName("Votes: ")
                                        @Html.DisplayFor(modelItem => mov.votes)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayName("Type :")
                                        @Html.DisplayFor(modelItem => mov.type)
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>}
    </div>

}





