@model IEnumerable<CineChat.Models.Chat>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Chats @ViewBag.selectedcat</h2>

<p>
    @Html.ActionLink("Create New Channel", "Create")
    &nbsp;|&nbsp;
    @Html.ActionLink("Channels i'm logged on", "ListLoged")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.admin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.admin.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category.description)
        </td>
        <td>
            @{
                if (item.admin.Id == User.Identity.GetUserId())
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })@:&nbsp;|&nbsp;
                }

            }
            @Html.ActionLink("Enter Channel", "Details", new { id=item.ID })
            @{
                if (item.admin.Id == User.Identity.GetUserId())
                {
                    @:&nbsp;|&nbsp;
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }

            }
        </td>
    </tr>
}

</table>
