@model IEnumerable<CineChat.MyFilmsAPIModels.Movie>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>



<div class="well">
    @foreach (var item in Model)
    {
        <div class="panel panel-default ">
            <div class="panel-body ">
                <div class="col-sm-4">
                    <img src="@Html.DisplayFor(modelItem => item.urlPoster)" />
                </div>
                <div class="col-sm-8">
                    <table class=" ">
                        <tbody>

                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.title)
                                    @Html.DisplayFor(modelItem => item.title)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.originalTitle)
                                    @Html.DisplayFor(modelItem => item.originalTitle)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.year)
                                    @Html.DisplayFor(modelItem => item.year)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.releaseDate)
                                    @Html.DisplayFor(modelItem => item.releaseDate)
                                </td>
                            </tr>
                            <!-- <tr>
                                 <td>
                                     @Html.DisplayNameFor(model => model.urlPoster)

                                 </td>
                             </tr>-->
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.plot)
                                    @Html.DisplayFor(modelItem => item.plot)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.simplePlot)
                                    @Html.DisplayFor(modelItem => item.simplePlot)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.idIMDB)
                                    @Html.DisplayFor(modelItem => item.idIMDB)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.urlIMDB)
                                    @Html.DisplayFor(modelItem => item.urlIMDB)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.rating)
                                    @Html.DisplayFor(modelItem => item.rating)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.metascore)
                                    @Html.DisplayFor(modelItem => item.metascore)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.rated)
                                    @Html.DisplayFor(modelItem => item.rated)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.votes)
                                    @Html.DisplayFor(modelItem => item.votes)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.type)
                                    @Html.DisplayFor(modelItem => item.type)
                                </td>
                            </tr>
                                                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div> 
    }
    </div>
   
