@model CineChat.Models.Movie
@using Microsoft.AspNet.Identity;
@using CineChat.DAL;

@{
    ApplicationDbContext db = new ApplicationDbContext();
    ViewBag.Title = "Details";
}

<div class="well">
    <h1 class="text-left">Details Movie</h1>
    <hr>
    <div class="panel panel-default ">
        <div class="panel-body ">
            <div class="col-sm-3">

                <img src="@Model.poster" class="img-thumbnail  pull-left img-responsive ">
            </div>
            <div class="col-sm-9">
                <table class="">
                    <thead>
                        <tr>
                            <th class="top-left">Title:</th>
                            <th> @Html.DisplayFor(modelItem => modelItem.title) </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>IMDB ID:</td>
                            <td>@Html.DisplayFor(model => model.ImdbID) </td>
                        </tr>

                        <tr>
                            <td>Realesed:</td>
                            <td>@Html.DisplayFor(modelItem => modelItem.releasedate)</td>
                        </tr>


                        <tr>
                            <td>Duration:</td>
                            <td>@Html.DisplayFor(modelItem => modelItem.duration)</td>
                        </tr>


                        <tr>
                            <td>Ratting Imdb:</td>
                            <td>@Html.DisplayFor(modelItem => modelItem.ratingImdb)</td>
                        </tr>

                        <tr>
                            <td>Ratting Cinechat:</td>
                            <td>@Model.getrate()</td>
                        </tr>

                        <tr>
                            <td>Categories:</td>
                            <td>
                                @foreach (var item in Model.categories)
                                {
                                    @Html.DisplayFor(model => item.description)
                                    @:<br />
                                }
                            </td>

                        </tr>

                        <tr>
                            <td class="top-left">Description: </td>
                            <td>
                                @Html.DisplayFor(modelItem => modelItem.description)
                            </td>
                        </tr>




                        <tr>
                            <td colspan="2">
                                <br />
                                <span class="h5 pull-right">
                                    @{
                                        if (User.IsInRole("AppAdmin"))
                                        {
                                            @Html.ActionLink("Edit", "Edit", new { id = Model.ID })@:&nbsp;|&nbsp;
                                            @Html.ActionLink("Delete", "Delete", new { id = Model.ID })@:&nbsp;|&nbsp;
                                        }

                                        string CurrentUserID = User.Identity.GetUserId();
                                        var CurrentUser = db.Users.FirstOrDefault(u => u.Id == CurrentUserID);
                                        if (CurrentUser.likes.Where(i => i.ID == Model.ID).Count() > 0)
                                        {
                                            @Html.ActionLink("Dislike", "Dislike", new { id = Model.ID })
                                            @:<span class="glyphicon glyphicon-thumbs-down"></span>
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Like", "Like", new { id = Model.ID })
                                            @:<span class="glyphicon glyphicon-thumbs-up"></span>
                                        }
                                    }
                                    @Html.ActionLink("Back to List", "MyMovies")
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>

