@model IEnumerable<CineChat.Models.Movie>

@{
    ViewBag.Title = "My Movies";
}

<h2>My Movies @ViewBag.selectedcat</h2> 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImdbID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.releasedate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ratingImdb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ImdbID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.releasedate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ratingImdb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @{
                if (User.IsInRole("AppAdmin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id=item.ID })@:&nbsp;|&nbsp;
                    @Html.ActionLink("Delete", "Delete", new { id=item.ID })@:&nbsp;|&nbsp;
                }
            }
            
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            
            @Html.ActionLink("Dislike", "Dislike", new { id = item.ID })
        </td>
    </tr>
}

</table>
