<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CineChat</title>
    
    
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{var catdb = new CineChat.DAL.ApplicationDbContext(); }

    <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Cine Chat", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                
                <ul class="nav navbar-nav">
                    <!-- <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li> -->

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chat<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        @foreach (var cat in catdb.categorie)
                        {
                            <li>@Html.ActionLink(cat.description, "Index", new { controller = "Chats", id = cat.ID })</li>
                            
                        }
                            <li class="divider"></li>
                            <li>@Html.ActionLink("All Chat", "Index", "Chats")</li>
                            <li>@Html.ActionLink("List Logged", "ListLoged", "Chats")</li>
                            <li>@Html.ActionLink("My Channels", "MyChannel", "Chats")</li>
                            <li>@Html.ActionLink("Create Channel", "Create", "Chats")</li>
                        </ul>
                    </li>

                    @if (User.IsInRole("AppAdmin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                            @foreach (var cat in catdb.categorie)
                            {
                                <li><a href="/Categories/Edit/@cat.ID">@cat.description</a></li>
                            }
                                <li class="divider"></li>
                                <li><a href="/Categories">View All</a></li>
                                <li><a href="/Categories/Create">Create new category</a></li>

                            </ul>
                        </li>
                    }
                    <li>@Html.ActionLink("TopRated", "TopRated", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Movies<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        @foreach (var cat in catdb.categorie)
                        {
                            <li>@Html.ActionLink(cat.description, "MyMovies", new { controller = "Movies", id = cat.ID })</li>
                        }
                            <li class="divider"></li>
                            <li>@Html.ActionLink("All MyMovies", "MyMovies", "Movies")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Saved Movies<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        @foreach (var cat in catdb.categorie)
                        {
                            <li>@Html.ActionLink(cat.description, "Index", new { controller = "Movies", id = cat.ID })</li>
                        }
                            <li class="divider"></li>
                            <li>@Html.ActionLink("All User Movies", "Index", "Movies")</li>
                    @{
                        if (User.IsInRole("AppAdmin"))
                        {
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Manually Add Movie", "Create", "Movies")</li>
                        }
                    }
                        </ul>
                    </li>
                    <li>
                        <form class="navbar-form navbar-right" role="search" action="/FilmesIMDB/Search" method="get">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Movies to search" name="id">
                            </div>
                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                        </form>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="navbar navbar-inverse navbar-fixed-bottom">
            <ul class="nav navbar-nav">
                <li><p class="navbar-text" style="color:white"><span>&copy; @DateTime.Now.Year - CineChat</span></p></li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>            
            </ul>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
